In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fdir_exp_name.txt', sep=';')

In [3]:
display(df.sort_values(['val loss']))

,exp_name,architecture,seq len,val loss,num params,trial_num,total trial num
6,4_wheel_system_03-18-23:11:15:48_conv_ae1D_sl_...,conv 1D,40,0.00010,101540,33,NaN
7,4_wheel_system_03-17-23:13:12:45_conv_ae1D_sl_16,conv 1D,16,0.00010,34070,19,NaN
9,third_wheel_02-24-23:14:37:37_conv_ae1D_sl_16,conv 1D,16,0.00011,5786,32,NaN
10,third_wheel_02-26-23:09:37:14_conv_ae1D_sl_40,conv 1D,40,0.00012,5786,21,NaN
8,4_wheels_system_03-18-23:11:07:08_conv_ae1D_sl...,conv 1D,40,0.00060,463728,12,NaN
3,third_wheel_01-27-23:09:16:52_lstm_extended_pa...,lstm ae,30,0.00190,239124,39,NaN
11,4_wheel_system_02-23-23:21:48:40_conv_ae_sl_16,conv 2D,16,0.00200,158705,22,NaN
4,third_wheel_01-27-23:09:49:21_lstm_extended_pa...,lstm ae,30,0.00290,153280,8,NaN
12,4_wheel_system_02-25-23:16:15:02_conv_ae_sl_40,conv 2D,40,0.00560,285321,29,NaN
13,4_wheel_system_02-25-23:16:15:02_conv_ae_sl_40,conv 2D,40,0.00660,189805,16,NaN
0,4_wheel_system_01-24-23:12:00:52_extended_para...,lstm ae,16,0.00700,153912,20,NaN
1,4_wheel_system_02-23-23:10:26:44_lstm_ae_sl_30...,lstm ae,30,0.00870,302476,1,NaN
5,third_wheel_01-24-23:11:20:34_extended_params_...,lstm ae,100,0.01440,150060,11,NaN
2,4_wheel_system_01-24-23:13:40:52_extended_para...,lstm ae,100,0.03300,160352,19,NaN
14,4_wheel_system_02-24-23:14:02:26_lstm_sl_16,lstm,16,0.07000,8132,37,NaN
16,third_wheel_01-30-23:09:50:12_lstm_forecast_sl...,lstm,16,0.07000,30596,9,NaN
15,4_wheel_system_01-29-23:16:20:16_lstm_forecast...,lstm,30,0.09000,51536,5,NaN

In [4]:
df = df.sort_values(['val loss']).drop(columns=['total trial num']).dropna()

In [5]:
int_cols = ['num params', 'seq len', 'trial_num']

In [6]:
df_str = df.drop(columns=int_cols)

In [7]:
df_int = df.dropna().loc[:,int_cols].astype(int)

In [8]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 100000000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 8)

In [9]:
df_tot = df_str.join(df_int)

In [10]:
from IPython.display import display

In [11]:
'_'.join(['_'.join(df['exp_name'][0].split('_')[:3]), '_'.join(df['exp_name'][0].split('_')[5:])])

'4_wheel_system_params_sl_16'

In [12]:
df_tot['exp_name'] = df['exp_name'].apply(lambda x: '_'.join(['_'.join(x.split('_')[:3])
                                         , '_'.join(x.split('_')[4:])]) if x.startswith('4') else 
                    '_'.join(['_'.join(x.split('_')[:2])
                                         , '_'.join(x.split('_')[3:])]))

In [13]:
display(df_tot)

                        exp_name                      architecture  val loss  num params  seq len  trial_num
6                4_wheel_system_conv_ae1D_sl_40_run_2    conv 1D     0.00010    101540       40       33
7                      4_wheel_system_conv_ae1D_sl_16    conv 1D     0.00010     34070       16       19
9                         third_wheel_conv_ae1D_sl_16    conv 1D     0.00011      5786       16       32
10                        third_wheel_conv_ae1D_sl_40    conv 1D     0.00012      5786       40       21
8   4_wheels_system_conv_ae1D_sl_40_flattened_incr...    conv 1D     0.00060    463728       40       12
3        third_wheel_lstm_extended_params_sl_30_run_1    lstm ae     0.00190    239124       30       39
11                       4_wheel_system_conv_ae_sl_16    conv 2D     0.00200    158705       16       22
4        third_wheel_lstm_extended_params_sl_30_run_1    lstm ae     0.00290    153280       30        8
12                       4_wheel_system_conv_ae_sl_40    conv 2D     0.00560    285321       40       29
13                       4_wheel_system_conv_ae_sl_40    conv 2D     0.00660    189805       40       16
0                4_wheel_system_extended_params_sl_16    lstm ae     0.00700    153912       16       20
1                   4_wheel_system_lstm_ae_sl_30_run1    lstm ae     0.00870    302476       30        1
5                  third_wheel_extended_params_sl_100    lstm ae     0.01440    150060      100       11
2               4_wheel_system_extended_params_sl_100    lstm ae     0.03300    160352      100       19
14                          4_wheel_system_lstm_sl_16       lstm     0.07000      8132       16       37
16              third_wheel_lstm_forecast_sl_16_run_1       lstm     0.07000     30596       16        9
15           4_wheel_system_lstm_forecast_sl_30_run_2       lstm     0.09000     51536       30        5

In [14]:
boolean_4 = [True if x.startswith('4') else False for x in list(df_tot.exp_name)]

In [15]:
df_tot[boolean_4]

                        exp_name                      architecture  val loss  num params  seq len  trial_num
6                4_wheel_system_conv_ae1D_sl_40_run_2    conv 1D     0.0001     101540       40       33
7                      4_wheel_system_conv_ae1D_sl_16    conv 1D     0.0001      34070       16       19
8   4_wheels_system_conv_ae1D_sl_40_flattened_incr...    conv 1D     0.0006     463728       40       12
11                       4_wheel_system_conv_ae_sl_16    conv 2D     0.0020     158705       16       22
12                       4_wheel_system_conv_ae_sl_40    conv 2D     0.0056     285321       40       29
13                       4_wheel_system_conv_ae_sl_40    conv 2D     0.0066     189805       40       16
0                4_wheel_system_extended_params_sl_16    lstm ae     0.0070     153912       16       20
1                   4_wheel_system_lstm_ae_sl_30_run1    lstm ae     0.0087     302476       30        1
2               4_wheel_system_extended_params_sl_100    lstm ae     0.0330     160352      100       19
14                          4_wheel_system_lstm_sl_16       lstm     0.0700       8132       16       37
15           4_wheel_system_lstm_forecast_sl_30_run_2       lstm     0.0900      51536       30        5

In [16]:
boolean_3 = [False if x.startswith('4') else True for x in list(df_tot.exp_name)]

In [18]:
df_tot[boolean_3]

                      exp_name                   architecture  val loss  num params  seq len  trial_num
9                    third_wheel_conv_ae1D_sl_16    conv 1D     0.00011      5786       16       32
10                   third_wheel_conv_ae1D_sl_40    conv 1D     0.00012      5786       40       21
3   third_wheel_lstm_extended_params_sl_30_run_1    lstm ae     0.00190    239124       30       39
4   third_wheel_lstm_extended_params_sl_30_run_1    lstm ae     0.00290    153280       30        8
5             third_wheel_extended_params_sl_100    lstm ae     0.01440    150060      100       11
16         third_wheel_lstm_forecast_sl_16_run_1       lstm     0.07000     30596       16        9